---
import "~/styles/globals.css"

import { ClientRouter } from "astro:transitions"

import docsConfig from "@repo/config/site/docs"
import { SEO } from "astro-seo"

import Breadcrumbs from "~/components/astro/Breadcrumbs.astro"
import Header from "~/components/astro/Header.astro"
import Sidebar from "~/components/astro/Sidebar.astro"

import type { Frontmatter } from "~/types/props"

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
const { title, description } = frontmatter
---

<html lang="en" class="bg-background text-foreground scheme-dark">
  <head>
    <SEO
      charset="utf-8"
      title={title}
      titleTemplate={`%s - ${docsConfig.title}`}
      description={description}
      twitter={{
        card: "summary",
        title: docsConfig.title,
        description: docsConfig.description,
        image: docsConfig.images.logo.href,
      }}
      openGraph={{
        basic: {
          type: "website",
          url: docsConfig.url,
          title: docsConfig.title,
          image: docsConfig.images.logo.href,
        },
        image: {
          url: docsConfig.images.logo.href,
          alt: docsConfig.title,
          width: 512,
          height: 512,
        },
        optional: {
          siteName: docsConfig.title,
          description: docsConfig.description,
        },
      }}
      extend={{
        link: [
          {
            rel: "icon",
            type: "image/x-icon",
            href: docsConfig.images.favicon.href,
          },
          {
            as: "font",
            rel: "preload",
            type: "font/woff2",
            href: "/docs/fonts/geist-sans.woff2",
            crossorigin: "",
          },
          {
            as: "font",
            rel: "preload",
            type: "font/woff2",
            href: "/docs/fonts/geist-mono.woff2",
            crossorigin: "",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1",
          },
          {
            name: "theme-color",
            media: "(prefers-color-scheme: light)",
            content: "#101010",
          },
          {
            name: "theme-color",
            media: "(prefers-color-scheme: dark)",
            content: "#f8f8f8",
          },
        ],
      }}
    />

    <style>
      @font-face {
        font-family: "Geist Sans";
        src: url("/docs/fonts/geist-sans.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
      }

      @font-face {
        font-family: "Geist Mono";
        src: url("/docs/fonts/geist-mono.woff2") format("woff2");
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
      }

      :root {
        --font-geist-sans: "Geist Sans", sans-serif;
        --font-geist-mono: "Geist Mono", monospace;
      }
    </style>

    <ClientRouter />
  </head>
  <body
    class="flex min-h-screen w-full flex-col font-sans tracking-tighter antialiased"
  >
    <Header />
    <main class="container flex h-full w-full gap-12">
      <aside class="sticky top-16 w-64 grow py-8 pr-6 max-md:hidden">
        <Sidebar />
      </aside>
      <div class="w-full py-8">
        <Breadcrumbs />
        <div class="prose mb-12">
          <h1 class="text-4xl font-bold tracking-tight">{title}</h1>
          <p class="text-muted-foreground text-lg text-balance">
            {description}
          </p>
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
