---
import "~/styles/globals.css"
import "~/styles/prose.css"

import Breadcrumbs from "~/components/astro/Breadcrumbs.astro"
import { Header } from "~/components/react/header.tsx"
import { Sidebar } from "~/components/react/sidebar.tsx"

import { getSidebarNavItems } from "~/config/sidebar"

import type { Frontmatter } from "~/types/props"

interface Props {
  frontmatter: Frontmatter
}

const navItems = await getSidebarNavItems()

const { pathname } = Astro.url
const { frontmatter } = Astro.props
const { title, description } = frontmatter
---

<html
  lang="en"
  style="color-scheme: dark"
  class="bg-background text-foreground"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://phasebot.xyz/favicon.ico"
    />
    <title>{title} - Docs</title>
  </head>
  <body
    class="flex min-h-screen w-full flex-col font-sans tracking-tighter antialiased"
  >
    <Header client:load />
    <main class="container flex h-full w-full gap-12">
      <aside
        class="h-screen-no-header sticky top-16 w-64 py-8 pr-6 max-md:hidden"
      >
        <Sidebar pathname={pathname} items={navItems} client:load />
      </aside>
      <div class="w-full py-8">
        <Breadcrumbs />
        <div class="prose mb-12">
          <h1 class="text-4xl font-bold tracking-tight">{title}</h1>
          <p class="text-muted-foreground text-balance text-lg">
            {description}
          </p>
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
